[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501, E127, E128, E221, E272
exclude =
    .git,
    __pycache__,
    .venv,
    .eggs,
    *.egg,
    dist,
    build,
    notebooks/
per-file-ignores =
    __init__.py: F401
